{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Bioinformatics tool for genomic data" />
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Pacifico&display=swap" rel="stylesheet">
    <title>Bio Assistant</title>
</head>

<body>
    <span class="title"><b> Bio Assistant</b></span>
    <img class="logo" src="{% static 'Pictures/logo.jpg'%}" alt="">
    <div class="center">
        <h1>Login</h1>
        <form action=" {% url 'log' %} " method="POST">
            {% csrf_token %}
            <input class="username" name="username" type="text" required placeholder="Username" max_length=50>
            <input class="password" name="password" type="password" required placeholder="Password" max_length=20>
            <a href="{% url 'welcome2' %}"><input class="login" type="submit" value="Login"></a>
            <a href="{% url 'forgotpass' %}">
                <p>Forgot password?</p>
            </a>
        </form>
    </div>


</body>

</html>